* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    background-color: gray;
    height: 100px;
    padding: 15px;
}



/* CLASSI LAYOUT */

.container {
    width: 100%;

}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    background-color: blue;
    width: 25%;
    height: 70px;
    border: 1px solid black;
}
/* FINE CLASSI LAYOUT */



/* CLASSI DI UTILITY */

.justify-space-beetwen {
    justify-content: space-between;
}
/* FINE CLASSI DI UTILITY */


/* CLASSI DI STILE */

/* FINE CLASSI DI STILE */

